[Desktop Entry]
Name=WhatsApp for Linux
Comment=Unofficial desktop wrapper for WhatsApp Web on Linux
Exec=whats-tux %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
Categories=Network;Chat;InstantMessaging;
Keywords=WhatsApp;Chat;Messaging;Linux;
StartupWMClass=WhatsApp Linux Client
StartupNotify=true


